body {
    background-color: rgb(190, 188, 188);
} 


.topnav a { /*ok for now*/
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 20px 20px 20px 20px;
    text-decoration: underline; 
    font-size: 25px; 
}

header {  
    height: 100px;
    width: 100%;
    background-color: rgb(114, 114, 114);
    
    
}  

#subtitle {
    color: black;
    text-align: right;
    padding: 50px 20px; /*better way to center from the top then just adding padding*/
    font-size: 40px;
}
h1 { 
    height: 100px;
    width: 100%;
    background: rgb(82, 82, 83);
    padding: 20px 20px 20px 20px;
}

/* h2 { 
    color: white; 
    text-align: center; 
    padding: 50px 50px; 
    text-decoration: underline; 
    font-size: 50px; 
}*/



#aboutme {
background-color: lightblue ;
padding: 50px; 
}






/* #horesion {  
    float: center; doesnt work
    width: 50%;
    padding: 5px;
}

a {
    color:red;
}

#myPortfolio { 
    align: center; doesnt work
    width: 50%;
    padding: 5px;
} */



footer {
    /* font-display: ; */
    float: center; 
    text-align: center;  
    padding: 25px;
}

/* .projects {  
    padding: 30px;
    text-align: left;
    background: lightblue;
    color: black;
    font-size: 25px;
    border:black;
    margin:auto;
}

/* .bottomnav {
    background-color: lightblue;
    overflow: hidden; 
}*/


/* .bottomnav a { 
    float: center;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 17px; 
} */



/*h3 {
    padding: 60px;
    text-align: left;
    background: lightblue;
    color: black;
    font-size: 30px;
}*/
